body {
    font-family: 'Noto Sans', sans-serif;
    background: #2E3190;
}

.logo {
    width: 50%;
    height: 20vh;
}

/* Название проекта */
.project {
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    letter-spacing: -0.038em;
}

/* Слоган проекта */
.slogan {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #F96C1B;
    width: 25%;
}

.bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

.zaz {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.5);
}

/* Рамка отзыва */
.ramka {
    border: 1px solid #F96C1B;
    border-radius: 7px;
}

.ramka1 {
    border: 1px solid #F96C1B;
    border-radius: 27px;
}

/* Автор отзыва */
.author {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.5);
}

.bg-now{
    background-image: url("../img/Group\ 192.svg");
    background-size: 100vw;
    background-position:bottom;
    background-repeat: no-repeat;
}
.bg {
    background-image: url("../img/bg.svg");
    background-size: 50vw;
    background-position: 0vw;
    background-repeat: no-repeat;
}

.sector1 {
    background-image: url("../img/.svg");
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.bgKek {
    background-image: url("../img/kits.svg");
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.lol {
    background-image: url("../img/Group\ 217.svg");
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.loll {
    background-image: url("https://cdn.discordapp.com/attachments/965579549368803358/972374578577965076/Untitled-unscreen.gif");
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.bgCircle {
    background-image: url("../img/circle.svg");
    background-size: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -4123132213321!important;
}

.bg5kitov {
    background-image: url("../img/bg5kitov.svg");
    background-size: 100vw;
    background-position:bottom;
    background-repeat: no-repeat;
    z-index: -4123132213321!important;
}

.shadowStart {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    letter-spacing: -0.038em;
    color: #2E3190 !important;
    text-shadow:
        -0 -1px 0 #F96C1B,
        0 -1px 0 #F96C1B,
        -0 1px 0 #F96C1B,
        0 1px 0 #F96C1B,
        -1px -0 0 #F96C1B,
        1px -0 0 #F96C1B,
        -1px 0 0 #F96C1B,
        1px 0 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B;
    position: absolute;
    left: 73vw;
    top: 213vh;
    z-index: -1;
}

.shadowProject {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    letter-spacing: -0.038em;
    color: #2E3190 !important;
    text-shadow:
        -0 -1px 0 #F96C1B,
        0 -1px 0 #F96C1B,
        -0 1px 0 #F96C1B,
        0 1px 0 #F96C1B,
        -1px -0 0 #F96C1B,
        1px -0 0 #F96C1B,
        -1px 0 0 #F96C1B,
        1px 0 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B;
    position: relative;
    left: -380px;
    top: -10px;
    z-index: -1;
}

.kit {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */

    letter-spacing: -0.038em;

    color: #FFFFFF;

}

.shadowKit {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */

    letter-spacing: -0.038em;
    color: #2E3190 !important;
    text-shadow:
        -0 -1px 0 #F96C1B,
        0 -1px 0 #F96C1B,
        -0 1px 0 #F96C1B,
        0 1px 0 #F96C1B,
        -1px -0 0 #F96C1B,
        1px -0 0 #F96C1B,
        -1px 0 0 #F96C1B,
        1px 0 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B;
    position: relative;
    left: -230px;
    top: -10px;
    z-index: -1;
}

.shadowBolee {
    color: #2E3190 !important;
    font-weight: 700;
    font-size: 64px;
    text-shadow:
        -0 -1px 0 #F96C1B,
        0 -1px 0 #F96C1B,
        -0 1px 0 #F96C1B,
        0 1px 0 #F96C1B,
        -1px -0 0 #F96C1B,
        1px -0 0 #F96C1B,
        -1px 0 0 #F96C1B,
        1px 0 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B;
    position: relative;
    left: 10px;
    top: -90px;
    z-index: -1;
}

.ramkaNews {
    border: 1px solid #F96C1B;
    border-radius: 10px;
}

.ramkaNewss {
    border: 1px solid #F96C1B;
    border-radius: 10px;
    height: 200px;
}
.borderNews2 {
    border-radius: 10px;
    border: 1px solid white;
    z-index: 10;
    position: relative;
    margin-top: -30px;
    background: #2E3190;
}

.rel {
    position: relative;
    margin-top: -170px;
}

.btn-our {
    border: 1px solid #E06529;
    border-radius: 11px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #8080FF;
}

.shadow2Project {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    letter-spacing: -0.038em;
    color: #2E3190 !important;
    text-shadow:
        -0 -1px 0 #F96C1B,
        0 -1px 0 #F96C1B,
        -0 1px 0 #F96C1B,
        0 1px 0 #F96C1B,
        -1px -0 0 #F96C1B,
        1px -0 0 #F96C1B,
        -1px 0 0 #F96C1B,
        1px 0 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B;
    position: relative;
    left: 20px;
    top: -110px;
    z-index: -1;
}

.shadowGuild {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    letter-spacing: -0.038em;
    color: #2E3190 !important;
    text-shadow:
        -0 -1px 0 #F96C1B,
        0 -1px 0 #F96C1B,
        -0 1px 0 #F96C1B,
        0 1px 0 #F96C1B,
        -1px -0 0 #F96C1B,
        1px -0 0 #F96C1B,
        -1px 0 0 #F96C1B,
        1px 0 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B,
        -1px -1px 0 #F96C1B,
        1px -1px 0 #F96C1B,
        -1px 1px 0 #F96C1B,
        1px 1px 0 #F96C1B;
    position: relative;
    left: -20.2vw;
    margin-top: -1vh;
    z-index: -1;
}



.ss {
    position: relative;
    margin-top: -50px;
    z-index: 12030;
}

.borderY {
    border-top: 0.5px solid #949494;
    border-bottom: 0.5px solid #949494;
}

.custom {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.32px;

    color: #8080FF;
}

.title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    letter-spacing: -0.24px;

    color: #FFFFFF;
}

.kol {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */

    letter-spacing: -0.078px;

    color: rgba(255, 255, 255, 0.5);
}

.btn-more {
    border: 1px solid #E06529;
    border-radius: 58px;
    color: #E06529;
}

.borderNews3 {

    border: 1px solid #FFFFFF;
    border-radius: 27px;
    position: relative;
    margin-top: 100px;
    background: #2E3190;
}

.btn-join {
    background: #E06529;
    border: 1px solid #E06529;
    border-radius: 58px;
    position: relative;
    margin-top: -20px;
}

/* bordrer bottom line */

.bbl {
    border-bottom: 0.5px solid #949494;
}

.orange {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.32px;

    color: #E06529;
}

.abs {
    position: fixed;
    top: 5vh;
    left: 80vw;
}

.btn-reg {
    border-bottom: 1px solid #474CCA;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;

    color: #FFFFFF;
}

.btn-go {
    border: 1px solid #F96C1B;
    border-radius: 58px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;

    color: #F96C1B;
}

.krug {
    border-radius: 98.5px!important;
    width: 100%;
    height: 60px;
    
    background-repeat: no-repeat;
    background-position: cover;
}

.ramkaOrange{
    background: #E06529;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    height: auto!important;
}

.borderBot {
    border-bottom: 1px solid #D7D8D9;
}