body {
    font-family: 'Noto Sans', sans-serif;
    background: #2E3190;
}

/* Название проекта */
.project {
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    letter-spacing: -0.038em;
}

/* Слоган проекта */
.slogan {
    
}